h1 {
  font-family: Orbitron, "serif";
  font-size: 3em;
}
p {
  color: black;
  font-family: Orbitron, "serif";
}

rect {
    pointer-events: all;
}
th {
  font-family: Orbitron, "serif";
  font-size: 1em;
  text-align: left;
  white-space: nowrap;
}
ul {
  list-style: none;
  padding: 0px;
  display: block;
  margin: 0px 0px 0px 0px;
  padding-left: 10px;
}
li:before {
  content: '\25C8';
}
li.ui-menu-item:before {
  content: none;
}
.removeIcon:before {
  content: none;
}
.appPanel {
  border-style: solid;
  border-color: #50a8d5;
  border-radius: 10px;
  width: 200px;
  height: 100px;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: Arial;
  color: white;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  border: solid #1f628d 5px;
  text-decoration: none;
}
.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.divborder {
  border-color: #50a8d5;
  border-radius: 5px;
  border-style: solid;
  border-width: 4px;
}
.divborder_scroll {
  border-color: #50a8d5;
  border-radius: 5px;
  border-style: solid;
  border-width: 4px;
  overflow-y: scroll;
}
.divinputwrapper {
  margin-top: 15px;
}
.infobox {
  border-style: solid;
  border-color: #50a8d5;
  border-radius: 5px;
  float: left;
  margin: 5px 0px 1px 0px;
  height: 30px;
  width: 95%;
  vertical-align: top;
  padding: 2px 2px 2px 2px;
}
.Table {
  position: relative;
  top: 25px;
  display: table;
}
.Title {
  display: table-caption;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}
.Heading {
  display: table-row;
  font-weight: bold;
  text-align: center;
}
.Row {
  display: table-row;
}
.Cell {
  display: table-cell;
  border: solid;
  border-width: thin;
  border-color: #50a8d5;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  align-content: center;
  vertical-align: middle;
}
.Cell-Large {
  width: 200px;
  height: 75px;
  align-content: center;
  vertical-align: middle;
}
.UYBGListBorder {
  border: solid;
  border-width: thin;
  border-color: #50a8d5;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  align-content: center;
  vertical-align: middle;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  float: right;
}
.UYBGFont_025em {
  font-family: Orbitron, "serif";
  font-size: 0.25em;
}
.UYBGFont_050em {
  font-family: Orbitron, "serif";
  font-size: 0.5em;
}
.UYBGFont_050em_AlignCenter {
  font-family: Orbitron, "serif";
  font-size: 0.5em;
}
.UYBGFont_075em {
  font-family: Orbitron, "serif";
  font-size: 0.75em;
}
.UYBGFont_075em_AlignCenter {
  font-family: Orbitron, "serif";
  font-size: 0.75em;
  text-align: center;
}
.UYBGFont_080em {
  font-family: Orbitron, "serif";
  font-size: 0.80em;
}
.UYBGFont_080em_AlignCenter {
  font-family: Orbitron, "serif";
  font-size: 0.80em;
  text-align: center;
}
.UYBGFont_090em {
  font-family: Orbitron, "serif";
  font-size: 0.90em;
}
.UYBGFont_090em_AlignCenter {
  font-family: Orbitron, "serif";
  font-size: 0.90em;
  text-align: center;
}
.UYBGFont_1em {
  font-family: Orbitron, "serif";
  font-size: 1em;
}
.UYBGFont_1em_AlignCenter {
  font-family: Orbitron, "serif";
  font-size: 1em;
  text-align: center;
}
.UYBGFont_2em {
  font-family: Orbitron, "serif";
  font-size: 2em;
}
.UYBGFont_3em {
  font-family: Orbitron, "serif";
  font-size: 3em;
}
.UYBGFont_Bold {
  font-weight: bold;
}
.UYBGLJustify {
  text-align: left;
}
.UYBGRJustify {
  text-align: right;
}
#maparea {
  float: none;
  width: 100%;
  height: 100%;
}
#minimapsection {
  float: left;
  width: 390px;
  height: 510px;
}
#miniMap {
  float: left;
  width: 385px;
  height: 185px;
}
#minimapdisplay {
  float: left;
  width: 385px;
  height: 50px;
}
#minimapinstruction {
  float: left;
  width: 377px;
  height: 220px;
  border-color: #50a8d5;
  border-radius: 5px;
  border-style: solid;
  border-width: 4px;
  overflow-y: scroll;
}
#mainmapsection {
  float: left;
  width: 510px;
  height: 510px;
}
#toolbarsection {
  float: left;
  width: 892px;
  height: 300px;
  margin-top: 5px;
}
#pagelock {
  display: none;
  margin: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#displayloadingicon {
  display: block;
  margin: auto;
  position: fixed;
  top: 40%;
  left: 40%;
  width: 125px;
  height: 125px;
  z-index: 1000;
}
.lockpage {
  display: block;
}
/* DivTable.com */
.divTable {
  display: table;
  width: 100%;
}
.divTableRow {
  display: table-row;
}
.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
}
.divTableCell,
.divTableHead {
  border: 0px solid #999999;
  display: table-cell;
  padding: 3px 10px;
  vertical-align: bottom;
}
.divTableHeading {
  display: table-header-group;
  font-weight: bold;
}
.divTableFoot {
  display: table-footer-group;
  font-weight: bold;
}
.divTableBody {
  display: table-row-group;
}
